<footer class="mt-36 text-center">
    <div class="grid grid-flow-col auto-cols-max justify-center gap-4 mb-5">
        <a href="https://www.instagram.com/ifaldziah/" target="_blank">
            <span class="fa-stack text-2xl">
                <i class="fas fa-circle fa-stack-2x text-title-secondary"></i>
                <i class="fa-brands fa-instagram fa-stack-1x fa-inverse text-white"></i>
            </span>
        </a>

        <a href="https://twitter.com/ifaldzialwi" target="_blank">
            <span class="fa-stack text-2xl">
                <i class="fas fa-circle fa-stack-2x text-title-secondary"></i>
                <i class="fa-brands fa-twitter fa-stack-1x fa-inverse text-white"></i>
            </span>
        </a>

        <a href="https://www.linkedin.com/in/ifaldzi-alwi-hudhori-5a2220149/" target="_blank">
            <span class="fa-stack text-2xl">
                <i class="fas fa-circle fa-stack-2x text-title-secondary"></i>
                <i class="fa-brands fa-linkedin fa-stack-1x fa-inverse text-white"></i>
            </span>
        </a>
    </div>

    <p class="text-primary font-semibold">Created with ❤ by Ifaldzi</p>
    <p class="text-primary font-semibold">© 2022</p>
</footer>