<nav class="flex justify-between py-10 md:px-32 px-10">
    <button class="md:hidden">
        <i class="fas fa-regular fa-bars text-title-secondary text-2xl"></i>
    </button>
    <div class="hidden md:block">
        <ul class="flex md:flex-row flex-col md:gap-9 text-center items-center">
            <li>
                <a href="#about" class="text-nav-color">About</a>
            </li>
            <li>
                <a href="#skills" class="text-nav-color">Skills</a>
            </li>
            <li>
                <a href="#" class="text-nav-color">Experiences</a>
            </li>
            <li>
                <a href="#" class="text-nav-color">Works</a>
            </li>
        </ul>
    </div>
    <div class="flex flex-row-reverse">
        <button class="bg-primary rounded-md px-3 py-2 mr-5">
            <span class="flex flex-row items-center gap-2">
                <img class="rounded-full" src="./assets/img/uk.svg" alt="">
                <i class="fa-solid fa-chevron-down"></i>
            </span>
        </button>
    </div>
</nav>