.bg-main {
    /* height: 100%; */
    background: linear-gradient(180deg,#041F31 43.75%, #267365 100%);
    background-repeat: no-repeat;
}

.text-nav-color {
    color: #F2CB05;
}

.text-primary {
    background: linear-gradient(90deg, #F2CB05 0%, #F29F05 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.text-secondary {
    color: #BDEBEA
}

.text-title-secondary {
    color: #8EB8BC
}

.text-tag {
    color: #1F2626
}

.bg-dropdown {
    background-color: #062C46
}

.bg-primary {
    background: linear-gradient(90deg, #F2CB05, #F29F05);
}

p, a {
    font-family: 'Montserrat', sans-serif;
}

.screen {
    position: absolute;
    bottom: 13%;
    left: 5%;
    height: 75%;
    width: 90%;
}

.link-disabled {
    cursor: not-allowed;
}

span.link-disabled a {
    pointer-events: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: grey;
}

::-webkit-scrollbar-thumb {
    background: #F29F05;
    border-radius: 10px;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #F2CB05;
}